{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <h1>LOGIN</h1>
        <form action="/login" method="POST" name="loginForm">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" class="input-field" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="input-field" required>
            </div>
            <div class="submit-button-container">
                <button type="submit" class="submit-button">Login</button>
            </div>
        </form>
        
        {% if message %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}

        <div class="link-container">
            <a href="/register">Don't have an account? Register here</a>
        </div>
    </div>
{% endblock %}
